/******************/
/*Custom Variables*/
/*****************/
:root {
        --lightGreen: hsla(120, 77%, 93%, 0.7);
        --green: hsla(120, 70%, 70%, 1);
        --white: hsl(268, 2%, 95%);
        --purple: hsl(268, 70%, 70%);
        --black: hsl(0, 100%, 2%);

        --bright: 100%;
}
/*Images and Shapes*/
img {
        max-width: 10rem;
}
.thumbnail {
        object-fit: cover;
        width: 50px;
}
.logo {
        width: 40px;
        max-height: 40px;
        object-fit: cover;
}
/********/
/*Layout*/
/********/
         
body {
        box-sizing: border-box;
        margin: auto;
        padding: 0;
        background-color: var(--white);
}
main {
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
}
/* Layout Containers */

/*.container-grid-basic {*/
        /*justify-items: center;*/

        /*display: grid;*/
/*}*/

/*[>set about title ontop of its image<]*/
/*.container-grid-basic :nth-child(-n+1) {*/
        /*grid: 1 / -1;*/
/*}*/

/*[> photo grid <]*/
/*.container-grid-photo {*/
        /*display: grid;*/
/*}*/
/*.container-grid-photo :nth-child(-n+1) {*/
        /*grid: 1 / -1;*/
/*}*/

/*[> recipe grid <]*/
/*.container-grid-recipe {*/

        /*display: grid;*/
/*}*/

/*.recipe-images {*/
        /*display: grid;*/
        /*grid-template-columns: repeat(2, 1fr 40px);*/
        /*grid-template-rows: repeat(3, 40px);*/
        /*grid-template-areas:*/
        /*"primary row-1"*/
        /*"primary row-2"*/
        /*"primary row-3";*/
/*}*/
/*.recipe-images > :nth-child(1) {*/
        /*grid-area: primary;*/
/*}*/
/* header layout */
.page-header {
        /* Change this in favour of an image or pattern */
        background-color: var(--green);
        height: 10rem;
        padding: 0 0 4rem 0;
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
}

footer {
        background-color: var(--black);
        color: var(--white);
        min-height: 15rem;
        max-height: 20rem;

        display: flex;
        align-items: flex-end;
        justify-content: center;
}

/*Navigation*/

nav {
        /*for older browsers*/
        display: inline;

}

.top-bar {
        width: 100vw;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: row;
        background-color: var(--black);
}
.site-logo {
        align-self: center;
        display:grid;
        padding: 2rem;
        align-items: start;
        margin: 0;

        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas:
        "two  one"
        "two  three"
        "five four"
}
.site-logo > :nth-child(1) {
        grid-area: two;
        align-self: center;
}
.site-logo > :nth-child(2) {
        grid-area: one;
        justify-self: end;
}
.site-logo > :nth-child(3) {
        grid-area: three;
        justify-self: end;
}
.site-logo > :nth-child(4) {
        grid-area: four;
        justify-self:end;
}
.site-logo > :nth-child(5) {
        grid-area: five;
        height: 8px;
        width: 39px;
        color: var(--white);
        background-color: hsl(218, 4%, 87%);
        align-self: center;
        margin: 0;
        flex-shrink: 1;

}
.container-nav {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        flex-grow: 1;
}

.nav-links {
        display: flex;
        flex-direction: column;
        color: white;
        font-size: 12px;
        margin-right: 1rem;
}

/*TODO: Set up slow color on hover for all links -- nav links are to be faster, buttons slower*/

/*********/
/*Desktop*/
/*********/
@media screen and (min-width: 35rem) {
    
.nav-links {
        flex-direction: row;
        justify-content: end;
        }
       .page-header {
                height: 30rem;
                width: 100vw;
        }
}
/************/
/*Typography*/
/************/

h1, h2, h3, button {
        font-family: 'Lato', sans-serif;
}

p, li, a, figcaption {
        font-family: 'Open Sans', sans-serif;
}
p {
        max-width: 95ch;
}
a {
        text-decoration: none;
}
.nav-links a {
        color: var(--white);
        font-weight: 500;
        font-size: 20px;
        padding: 10px;
}
.nav-links li {
        margin: 5px;
}
.nav-links a:hover {
        background-color: var(--purple);
        color: hsl(268, 0%, 100%);

}
.site-logo span {
        color: var(--white);
}
ul {
        list-style-type: none;
}
/*User Interaction*/

