/******************/
/*Custom Variables*/
/*****************/
:root {
  --lightGreen: hsla(120, 77%, 93%, 0.7);
  --green: hsla(120, 70%, 70%, 1);
  --white: hsl(268, 2%, 95%);
  --purple: hsl(268, 60%, 60%);
  --black: hsl(0, 100%, 2%);
  --lowBlack: hsla(0, 100%, 2%, 0.4);
  --lowWhite: hsla(268, 2%, 95%, 0.5);
}

/*Site Logo*/

.site-logo {
  margin: 2rem;
  padding: 5px;

  align-self: center;

  align-items: center;

  display:grid;
  grid-gap: 10px;
  grid-template-columns: max-content max-content;
  grid-template-rows: repeat(3, 1rem);
  grid-template-areas:
  "two  one"
  "two  three"
  "five four";
}

.site-logo > :nth-child(1) {
  grid-area: two;
}
.site-logo > :nth-child(2) {
  grid-area: one;
  justify-self: end;
}
.site-logo > :nth-child(3) {
  grid-area: three;
  justify-self: end;
}
.site-logo > :nth-child(4) {
  grid-area: four;
  justify-self:end;
}
.block {
  grid-area: five;
  height: 5px;
  width: 100%;
  color: var(--white);
  background-color: hsl(218, 4%, 87%);
  align-self: center;
  justify-self: center;
}
.site-logo span {
  color: var(--white);
}

/* Logo Interaction */
.site-logo:hover {
  /*Logo animation*/
  animation-name: logo-animate;
  animation-duration: 700ms;
  animation-fill-mode: forwards;
}

@keyframes logo-animate {
  100% {
    opacity: 0.7;
  }
}

/*Images and Shapes*/
.image-placeholder {
  width: calc(61.33*3px);
  height: 10rem;
  background-color: var(--purple);

  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
}
img {
  object-fit: cover;
  max-height: 12rem;
}

.gallery-photo {
  min-width: 10rem;
}

.about-picture {
  max-height: 25rem;
}

.thumbnail {
  width: 58px;
  margin: 2px;
}

.logo {
  width: 40px;
  max-height: 40px;
  object-fit: cover;
  justify-self: flex-start;
}

/************/
/*Navigation*/
/************/
.top-bar {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  background-color: var(--black);
  position: block;
}

.container-nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-grow: 1;
}

.nav-links {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  color: whitesmoke;
  font-size: 12px;
  margin-right: 1rem;
}

/********/
/*Layout*/
/********/

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: var(--white);

}

main {
  display: flex;
  flex-direction: column;
  margin: 0;
}

main > :nth-child(even) {
  margin: 0;
  background-color: var(--green);
}

/* header and footer layout */
.page-header {
  /*background will be embedded video*/
  background-image: url("assets/images/basketball-kira-4.jpg");
  object-fit: cover;
  min-height: 10rem;
  padding: 2rem 0 2rem 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;

}
.page-header > h1 {
  background-color: var(--lowWhite);
  width: 80vw;
  padding: 2rem;
  margin: 2rem;
  margin-top: 4rem;
  font-variant: small-caps; 
}
footer {
  background-color: var(--black);
  color: var(--white);
  min-height: 15rem;
  max-height: 20rem;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

/* Grid Containers Containers */

.container-about {
  padding: 2rem 0 5rem 0;

  display: flex;
  flex-direction: column;
  align-items: center;
}
/****** Photos Layout ******/

.container-grid-photo {
  padding: 2rem 0 5rem 0;

  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 1fr;

  grid-template-areas:
  "title title"
  "text  text"
  "col1  col1"
  "col2  col3"
  "act   act";
}

.container-grid-photo > h2 {
  grid-area: title;
}
.container-grid-photo > p {
  grid-area: text;

}
.container-grid-photo > :nth-child(3) {
  grid-area: col1;
  justify-self: center;
}
.container-grid-photo > a {
  grid-area: act;
}

/****** Recipe Layout ******/
.container-grid-recipe > :nth-child(1) {
  padding: 2rem 0 5rem 0;
}

/*ingredients*/
.container-grid-recipe > :nth-child(4) {
  justify-content: center;
  padding: 1rem;

}
/*instructions*/
.container-grid-recipe > :nth-child(5) {
  background-color: lightgrey;
  padding: 5rem;
  margin: 2rem 0;
}
.recipe-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.container-grid-recipe {
  display: flex;
  flex-direction: column;
  align-content: center;
}
.container-grid-recipe > :nth-child(1) {

  align-self: center;
  justify-self: center;
}

.recipe-images {
  align-self: flex-end;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}
.recipe-images > :nth-child(1) {
  justify-self: end;
}
.recipe-images > :nth-child(2) {
  display: flex;
  flex-direction: column;
  justify-self: start;
}
.recipe-outline {
  align-self: center;
  text-align: justify;

  border: solid 1px;
  border-radius: 10px;
  max-height: 10rem;
  padding: 3rem;
  margin: 10px;
  margin-top: 1rem;
}

/*Thank you Message footer*/
.container-conclusion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/****************/
/*Desktop Vesion*/
/****************/

@media screen and (min-width: 35rem) {

  .nav-links {
    flex-direction: row;
    justify-content: end;
  }

  .page-header {
    max-height: 40rem;
  }
  /* Desktop Photo Section */
  .container-grid-photo {
    grid-template-columns: repeat(3, min-content);
    grid-gap: 20px;
    justify-content: center;

    display: grid;
    grid-template-areas:
    "title title title"
    "text  text   text"
    "col1  col2  col3"
    ".   act     .";
  }       
  .container-grid-photo > :nth-child(1) {

    grid-area: title;
    justify-items: center;
    align-items: center;
  }
  .container-grid-photo > :nth-child(2) {
    grid-area: text;
    text-align: center;
    word-wrap: break-word;
  }
  .container-grid-photo > :nth-child(3) {
    grid-area: col1;
  }
  .container-grid-photo > :nth-child(4) {
    grid-area: col3;
  }
  .container-grid-photo > :nth-child(5) {
    grid-area: col2;
  }
  .container-grid-photo > :nth-child(6) {
    grid-area: act;
    justify-content: center;
    text-align: center;
  }

  /**** Desktop Recipes Section ****/
  .container-grid-recipe {
    margin: auto;
    justify-self: center;
    max-width: 50rem;

    justify-content: center;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "title  title"
    "images outline"
    "ingrid ingrid"
    "steps  steps"
    "foot   foot";
  }
  .container-grid-recipe > :nth-child(1) {
    grid-area: title;
    max-width: 40vw;
  }

  .recipe-images {
    justify-self: end;
    align-self: end;
    margin-right: 6rem;

    display: grid;
    grid-row-gap: 5px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }

  /* TODO after figuring out all of images, declare image sizes in one place*/
  .recipe-images > :nth-child(2) {
    flex-direction: row;
    max-height: 60px;
  }
  .container-grid-recipe > .recipe-outline {
    grid-area: outline;
    justify-self: start;
    align-content: start;
  }
  .container-grid-recipe > .ingredients {
    border: solid 1px;
    border-radius: 10px;


    grid-area: ingrid;
    justify-self: center;
    padding: 2rem 16rem;
  }

  /*instructions steps*/
  .container-grid-recipe > :nth-child(5) {
    grid-area: steps;
  }
  .recipe-footer {
    grid-area: foot;
  }
}


/************/
/*Typography*/
/************/

h1, h2, h3, button {
  font-family: 'Lato', sans-serif;
  text-align: center;
}

p, li, a {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.4;
  font-size: 1.2rem;

}
p {
  max-width: 60ch;
}
a {
  text-decoration: none;
}

.big-h3 {
  font-size: clamp(2rem, 50%, 4rem);
}

/* Links */
.nav-links a {
  color: var(--white);
  font-weight: 500;
  font-size: 20px;
  padding: 10px;
}
.nav-links li {
  margin: 5px;
  list-style-type: none;
}
.nav-links a:hover {
  animation-name: nav-hover;
  animation-duration: 700ms;
  animation-fill-mode: forwards;
}

@keyframes nav-hover {
  100% {
    background-color: var(--purple);
    color: hsl(268, 0%, 100%);
    opacity: 0.7;
  }
}
/* Buttons */
button {
  background-color: var(--black);
  color: white;
  width: 8rem;
  margin: 20px;
  border: none;
  border-radius: 20px;
  padding: 5px 20px 5px 20px;
}

button:hover {
  animation-name: button-hover;
  animation-duration: 700ms;
  animation-fill-mode: forwards;
}
button a {
  color: var(--white);
}
.pop-button {
  background-color: var(--purple);
  font-weight: 600;
}

.pop-button:hover {
  animation-name: pop-button-hover;
  animation-duration: 700ms;
  animation-fill-mode: forwards;
}

/* Button Interaction */
@keyframes button-hover {
  100% {
    background-color: var(--purple);
    color: hsl(268, 0%, 100%);
    opacity: 0.7;
  }
}
@keyframes pop-button-hover {
  100% {
    background-color: var(--black);
    color: hsl(268, 0%, 100%);
    opacity: 0.7;
  }
}
